<template>
  <p>{{ count }} </p>
</template>
<script>

import axios from 'axios';
import store from './store';
import _ from 'lodash';

import business from './utils/business';

export default {
  name: 'app',
  mixins: [business],
  data: function () {
    return {
      sharedState: store.state,
      initData : {},
    }
  },
  created: function() {
    console.log('@created');
  },
  computed: {
    count () {
      console.log('@computed');
    }
  }
}
</script>