﻿/* -----------------------------------------------------
		Loader
   ----------------------------------------------------- */
   
.loader {
	background: url(../images/loader-orange.gif) center no-repeat #fff;
}

/* -----------------------------------------------------
		Color
   ----------------------------------------------------- */

.fullscr-navigation li .fullscr-nav-icon,
#mySidenav #web-name span,
.header-logo h4 span,
.header-links li.user-link a,
.header .fixed-header.transparent li.user-link .fa,
#coffee-homepage #services .service-block .fa,
#iceparlour-homepage #banner-2 h2,
.menu .white-menu .owl-controls .owl-buttons div,
.dish-list-text h5,
.dish-list-text .btn .fa,
#testimonial .item .reviewer-text blockquote small,
#footer h3 span,
.footer-contact li span,
.footer-social li .fab:hover,
#footer .footer-social-2 li .fab,
#footer .footer-social.bordered-social li .fab,
#footer .copyright a,
.page-cover.text-left h3,
#reservation-page h4,
.cart-info h4 span,
.order-list li:before,
.order-list li .order-item-info .order-item-price span,
.order-list .order .total p span,
.custom-form label a,
.menu-title .menu-price h3,
.menu-detail .nav-tabs li.active a,
.person-title ul li a,
#order-history-page .form-group .fa-calendar-alt,
.order-panel .panel-heading .order-title h3 span,
.order-panel .panel-heading .order-title span .fa,
.comments-wrapper .comment-block a,
.form-page-links a,
#error-page h2 span,
#coming-soon-page h2 span,
#coming-soon-page ul li:after,
#coming-soon-page ul li span,
.blog-list-detail ul li .fa,
.user-profile-heading h3 span,
#user-profile-page .edit-link a,
.user-prf-sidebar-links li a:hover,
.user-prf-sidebar-links li.active a,
.user-prf-sidebar-links li a .fa,
.faq-heading:first-letter{
	color:#ff5722;
}

/* -----------------------------------------------------
		Background Color
   ----------------------------------------------------- */
   
.page-heading:after,
.btn-orange,
.fullscr-navigation #fullscr-close,
.header .header-links li.shopping-cart .cart-badge,
.meta .meta-highlight.meta-orange,
#coffee-homepage #services,
#main-menu .list-group > .list-group-item.active,
#main-menu .list-group > .list-group-item:focus,
#main-menu .list-group > .list-group-item.active:focus,
#main-menu .list-group > .list-group-item:hover,
#slider .flex-control-nav li a.flex-active,
.service-block .fa,
#bakery-homepage #about-us,
.menu .nav-tabs li.active a,
.dish-list:hover .btn,
#testimonial.text-white,
#newsletter,
.page-cover,
#testimonial-page .owl-controls .owl-page span,
#filter-buttons button.active,
.person-img:after,
#error-page h2:before,
#error-page h2:after,
.h2-shape:before,
.h2-shape:after,
.pages .pagination li a:hover,
.pages .pagination li.active a,
.order-list .cart-info h4,
#user-profile-page .edit-link a span,
.faq-heading::after,
.faq-block .panel-default .panel-title::after,
.p-table-block .p-table-price h2{
	background:#ff5722;
}

/* -----------------------------------------------------
		Border Color
   ----------------------------------------------------- */
   
.page-heading-line,
#mySidenav #web-name,
.fullscr-navigation li a,
#coffee-homepage #services .service-block .fa,
.custom-form input:focus,
.custom-form select:focus,
.custom-form textarea:focus,
#testimonial.testimonial-2 .page-heading-line,
#testimonial-page .item .reviewer-img img,
#footer .footer-social.bordered-social li .fab,
#filter-buttons button.active,
.menu-detail .nav-tabs li.active,
.person-img,
.order-panel .panel-heading,
.user-profile-heading hr,
#coming-soon-page h2,
.p-table-block{
	border-color:#ff5722;
}

/* -----------------------------------------------------
		RGBA
   ----------------------------------------------------- */
   
.overlay{
	background:rgba(255, 87, 34,0.88);
}

.footer-social{
	background:linear-gradient( to left, rgba(255, 87, 34,0) 0%, rgba(255, 87, 34,0.3) 10%, rgba(255, 87, 34,0.88) 50%, rgba(255, 87, 34,0.3) 90%, rgba(255, 87, 34,0) 100%);
}































