﻿/* ----------------------------------------------------
Theme Name:		StarRestaurant - HTML Template
Version:		1.0
Author:			StarRestaurant
------------------------------------------------------- */


/* ======================================================
	TABLE OF CONTENTS
   ====================================================== */

/**

* 1.0	Settings
* 1.1	Navigation & Sidebars
* 1.2	Header
* 1.3	Slider
* 1.4	Banners
* 1.5	About Us
* 1.6	Services
* 1.7	Menu
* 1.8	Testimonial
* 1.9	Newsletter
* 1.10	Footer
* 1.11	Page Cover
* 1.12	Pagination
* 1.13	Comments & Reviews
* 1.14	Custom Form
* 1.15	Form Page Links
* 1.16	Menu Pages
* 1.17	Chef Page
* 1.18	Gallery Pages
* 1.19	User Pages
* 1.20	Shop Pages
* 1.21	Extra Pages

**/

/* -----------------------------------------------------
		Settings
   ----------------------------------------------------- */

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

html,body{
	height:100%;
}

p,ul,a,.btn,span,input,select,textarea,label, table, blockquote, small, .cart-item .total, .cart-info h4, .order-name h3, .faq-block .panel-default .panel-title, #coming-soon-page ul li{
	font-family: 'Open Sans',sans-serif;
}

p,ul{
	line-height:1.5em;
	font-size:14px;
}

p{
	color:#737373;
}

ul{
	margin-bottom:0px;
}

h1,h2,h3,h4,h5,input,select,textarea, #mySidenav #web-name h2 span, .header-logo h4 span, .header-log h4 a, .dish-list-text h4 a, #footer h3 span, .order-item-info h4 a, .user-profile-heading h3 span, #coming-soon-page h2 span, #coming-soon-page ul li span{
	font-family: 'Roboto Condensed', sans-serif;
}

.page-heading, .flexslider li h1, .page-cover h3{
	font-family: 'Great Vibes', cursive;
}

h1,h2,h3,h4,h5{
	margin-top:0px;
}

a {
	 text-decoration: none ;
}

a:hover{
	text-decoration:none;
	cursor:pointer;
}
   
.page-heading{
	font-weight:bold;
	font-size:34px;
	color:#212121;
	text-align:center;
}

.page-heading-line{
	margin:8px auto 16px;
	width:40px;
	border-width:4px;
}

.page-heading-line.black-line{
	border-color:#212121;
}

.page-heading-line.white-line{
	border-color:white;
}

.innerpage-heading{
	margin-bottom:30px;
}

.innerpage-heading h3 {
	font-weight:bold;
}

.innerpage-heading p{
	font-size:13px;
}

.no-pad{
	padding:0px;
}

.no-pad-top{
	padding-top:0px !important;
}

.btn-orange:hover{
	opacity:0.9;
}

.btn-black,
.btn-black:focus{
	background:#212121;
}

.btn-black:hover{
	opacity:0.9;
}

.btn-radius{
	border-radius:30px;
}

.section-padding{
	padding:40px 0px;
}

.innerpage-section-padding{
	padding:40px 0px 50px;
}

.canvas{
	position:relative;
}

.overlay-black{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.55);
	z-index:110;
	visibility:hidden;
}

.black-overlay-7{
	background:rgba(0,0,0,0.8);
}

.map{
	width:100%;
	border:0px;
	margin-bottom:20px;
	height:200px;
}

.owl-carousel.owl-theme .owl-controls .owl-buttons div{
	opacity:1;
	padding:0px;
	margin:0px 10px;
	font-size:25px;
	background:transparent;
	color:#212121;
}

.mg-b-20{
	margin-bottom:20px;
}

.mg-b-30{
	margin-bottom:30px;
}

.mg-t-10{
	margin-top:10px;
}
		
.page-heading.white-heading,
.btn-orange,
.btn-orange:hover,
.btn-black,
.btn-black:hover,
.btn-black:focus,
.fullscr-navigation #fullscr-close,
#mySidenav #sidenav-close,
#mySidenav #web-name ul li .fab:hover,
#main-menu .list-group > .list-group-item.active,
#main-menu .list-group > .list-group-item:focus,
#main-menu .list-group > .list-group-item.active:focus,
#main-menu .list-group > .list-group-item:hover,
.header .top-bar.black,
.header .top-bar .social-cart li a,
.header .fixed-header.transparent .header-logo h4,
.header .fixed-header.transparent .header-links li a,
.header .fixed-header.transparent .header-links li.shopping-cart .fa,
.header .header-links li.shopping-cart .cart-badge,
.flexslider li p,
#slider ul li .meta,
.cart-list li .total,
#banner-1,
#banner-2 p,
.service-block .fa,
.menu .nav-tabs li.active a,
.menu .dish-list:hover .btn,
.menu .dish-list:hover .btn .fa,
.menu.black-menu .dish-list-text .btn .fa,
.menu.black-menu .dish-list-text h4 a,
.menu.black-menu .owl-carousel.owl-theme .owl-controls div,
#testimonial.text-white .item .reviewer-text blockquote,
#testimonial.text-white .item .reviewer-text small,
#newsletter p,
#newsletter form .input-group-btn .btn:hover,
.page-cover h3,
.page-cover .breadcrumb li + li:before,
.page-cover .breadcrumb li a,
.page-cover .breadcrumb li.active,
.pages .pagination li:first-child a,
.pages .pagination li:last-child a,
.pages .pagination li.active a,
.pages .pagination li:hover a,
.form-page-connect-social li .btn,
.form-page-connect-social li .btn.any,
#filter-buttons button.active,
#user-profile-page .edit-link a span,
.order-list .cart-info h4 span,
.order-list .cart-info h4:before,
.order-list .cart-info h4:after,
#order-history-page .form-group select,
#order-history-page .form-group .fa,
#bakery-homepage #about-us p{
	color:white;
}

#newsletter form .input-group-btn .btn{
	background:white;
}

#testimonial.text-white .owl-controls .owl-page span,
#services,
.footer-social li .fab:hover{
	background:#f2f2f2;
}

#footer,
.footer-social li .fab,
#footer .copyright,
#footer p,
#footer .footer-social-2 li .fab:hover{
	color:#f2f2f2;
}

/* -----------------------------------------------------
		Navigation & Sidebars
   ----------------------------------------------------- */

/************* FULLSCREEN NAV *************/

#fullscr-nav{
	overflow-Y:auto;
	overflow-X:hidden;
	background:linear-gradient(rgba(255, 255, 255,0.9), rgba(255, 255, 255,0.9)), url('../images/full-scr-nav-back.jpg') center center;
	background-size:cover;
}

.fullscr-navigation{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 300;
    top: -100%;
    right: 0;
    transition: 0.5s;
}

.fullscr-navigation #fullscr-close{
	margin:15px 0px;
	display:inline-block;
	padding:7px 25px 5px 20px;
	font-size:25px;
	border-radius:0px 30px 30px 0px;
	border:0px;
}

.fullscr-navigation ul{
	padding:10px 10px 15px;
	overflow:hidden;
}

.fullscr-navigation li{
	width:50%;
	float:left;
	margin:8px 0px;
	text-align:center;
	padding:0px 8px;
}

.fullscr-navigation li a{
	padding:15% 0%;
	display:block;
	text-decoration:none;
	border-bottom:1px solid;
	background:#ededed;
	color:#000;
}

.fullscr-navigation li .fullscr-nav-icon{
	display:block;
	font-size:30px;
	margin-bottom:10px;
}

/**************** MYSIDENAV ***************/

#mySidenav{
	overflow-Y:auto;
	overflow-X:hidden;
	width:260px;
	transition:.4s;
	background:white;
	box-shadow:0px 0px 20px rgba(0,0,0,0.3);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 300;
    top: 0;
    left:-120%;
    transition: 0.5s;
}

#mySidenav::-webkit-scrollbar{
    width: 0.5em;
	background:#f2f2f2;
}
 
#mySidenav::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#mySidenav::-webkit-scrollbar-thumb{
	background-color:#303030;
	outline: 1px solid slategrey;
}

#mySidenav #web-name{
	color:#212121;
	padding:30px 0px;
}

#mySidenav #web-name::after{
	background:#0d0d0d;
	transform:rotate(43deg);
	position:absolute;
	content:'';
	display:block;
	height:45px;
	width:140px;
	top:-20px;
	right:-40px;
}

#mySidenav #web-name h2 .far{
	margin-bottom:10px;
}

#mySidenav #web-name h2{
	text-transform:uppercase;
	text-align:center;
	margin:0px;
	font-size:26px;
	font-weight:bold;
	position:relative;
}

#mySidenav #web-name ul{
	margin-top:20px;
}

#mySidenav #web-name ul li .fab{
	width:30px;
	height:30px;
	border-radius:100%;
	background:#ededed;
	padding-top:8px;
	color:#333;
	box-shadow:inset 0px 0px 7px rgba(0,0,0,0.2);
}

#mySidenav #web-name ul li .fab:hover{
	background:#1b1819;
}

#mySidenav #sidenav-close{
	background:transparent;
	font-size: 30px;
	text-decoration:none;
	padding:0px;
	line-height:1.0em;
	border:0px;
}

#mySidenav .sidenav-closebtn {
	position:absolute;
	top:1px;
	right:9px;
	width:100%;
	text-align:right;
}

#mySidenav .list-group.panel{
	border:0px;
	box-shadow:none;
}

#mySidenav .list-group > .list-group-item{
	border-radius:0px;
	border-right:0px;
	border-color:#e6e6e6;
	border-left:3px solid transparent;
	background:#f2f2f2;
}

#mySidenav .list-group > .list-group-item.active{
	border-left:4px solid #303030;
}

#mySidenav .list-group > .list-group-item:last-child{
	margin-bottom:50px;
}

#mySidenav .list-group .list-group-item{
	font-size:14px;
	color:#212121;
}

#mySidenav .list-group-item .sidebar-icon{
	width:18px;
	text-align:center;
	margin-right:20px;
	font-size:14px;
}

#mySidenav .list-group-item .arrow{
	margin:3px 0px 0px 5px;
	font-size:14px;
	float:right;
}

#mySidenav .list-group .sub-menu > .list-group-item{
	padding-left:55px;
	background:#e6e6e6;
	border-color:rgba(0,0,0,0.05);
	border-radius:0px;
}

#mySidenav .list-group .sub-menu > .list-group-item.active,
#mySidenav .list-group .sub-menu > .list-group-item:hover,
#mySidenav .list-group .sub-menu > .list-group-item:focus{
	background:#d9d9d9;	
	color:#303030;
}

#main-menu .list-group .sub-menu.mega-sub-menu > a{
	position:relative;
}

#main-menu .list-group .mega-sub-menu-links .list-group-item{
	padding-left:64px;
	font-size:14px;
	color:#666666;
}

#main-menu .list-group .sub-menu.mega-sub-menu > a:hover,
#main-menu .list-group .sub-menu.mega-sub-menu > a:focus,
#main-menu .list-group .sub-menu.mega-sub-menu > a.active{
	background:#cfcfcf;
}

.to-left-toggle{
	left:0%;	
}

.to-right-toggle{
	right:0% !important;
}

.to-top-toggle{
	top:0% !important;
}

/********** SHOPPING-CART-SIDEBAR *********/

#shopping-cart-sidebar{
	overflow-Y:auto;
	overflow-X:hidden;
	width:280px;
	transition:.4s;
	background:white;
	box-shadow:0px 0px 20px rgba(0,0,0,0.3);
}

.shc-sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 300;
    top: 0;
    right:-150%;
    transition: all 0.5s;
	border-top:6px solid #212121;
	padding:20px 15px 15px;
}

.shc-sidebar .cart-info{
	margin-bottom:50px;
}

.cart-list li{
	margin-bottom:30px;
}

.cart-list li .cart-item{
	position:relative;
}

.cart-list li .item-img,
.cart-list li .item-text{
	display:inline-block;
}

.cart-list li .item-img{
	width:32%;
	text-align:right;
}

.cart-list li .item-img img{
	max-height:95px;
	display:inline-block;
	margin-top:-20px;
}

.cart-list li .item-text{
	width:65%;
	padding-right:6px;
}

.cart-list li .item-text h4{
	margin-top:0px;
}

.cart-list li .item-text h4 a{
	color:#333;
}

.cart-list li .item-text p{
	margin-bottom:0px;
	font-size:12px;
}

.cart-list li .item-text h4,
.cart-list li .item-text input{
	display:inline-block;
}

.cart-list li .item-text input{
	width:65px;
	font-size:18px;
	background:#f2f2f2;
	border-radius:0px;
}

.cart-list li .item-text h5{
	margin:15px 0px 15px;
	font-size:18px;
}

.cart-list li .item-close .btn{
	position:absolute;
	top:-5px;
	right:0px;
	background:transparent;
	box-shadow:none;
	color:#999999;
	padding:0px;
	font-size:20px;
}

.cart-list li .item-close .btn:hover{
	color:red;
}

.cart-list li .total{
	font-weight:bold;
	border-top:1px solid #f2f2f2;
	display:block;
	background:#212121;
	margin:10px 0px 0px 0px;
	padding:8px 10px;
	font-size:16px;
	border-radius:15px 15px 0px 0px;
}

.cart-info{
	margin-top:20px;
}

.cart-info h4{
	font-weight:bold;
}

.cart-info .btn{
	margin-top:15px;
}

/********** USER-PROFILE-SIDEBAR **********/

#user-profile-sidebar{
	overflow-Y:auto;
	overflow-X:hidden;
	width:280px;
	transition:.4s;
	background:#1b1819;
	box-shadow:0px 0px 20px rgba(0,0,0,0.3);
}

.user-prf-sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 300;
    top: 0;
    right:-150%;
    transition: all 0.5s;
}

.user-prf-sidebar .user-prf-sidebar-img .overlay{
	padding:25px 0px;
}

.user-prf-sidebar .user-prf-sidebar-img img{
	max-height:120px;
	display:inline-block;
	border:4px dashed white;
	box-shadow:0px 0px 5px rgba(0,0,0,0.3);
	margin-bottom:10px;
}

.user-prf-sidebar .user-prf-sidebar-img h3{
	margin-bottom:0px;
	font-size:21px;
	color:#1b1819;
	font-weight:bold;
}

.user-prf-sidebar .user-prf-sidebar-links li{
	border-bottom:1px solid rgba(255,255,255,0.05);
}

.user-prf-sidebar .user-prf-sidebar-links li a{
	color:#f2f2f2;
	display:block;
	padding:10px 15px;
}

.user-prf-sidebar .user-prf-sidebar-links li a .fa{
	width:20px;
	margin-right:10px;
}

/* -----------------------------------------------------
		Header
   ----------------------------------------------------- */

.header{
	height:52px;
}

.header.height-auto{
	height:auto;
}

.header .top-bar.black{
	background:#0d0d0d;
}

.header .top-bar{
	padding:7px 0px;
}

.header .top-bar .social-cart li{
	font-size:12px;
}

.header .top-bar .social-cart li a{
	font-size:12px;
}

.header .top-bar .social-cart li:last-child{
	float:right;	
}

.header .top-bar .social-cart li:last-child .fa{
	margin-left:8px;
}

.header .fixed-header{
	background:white;
	box-shadow:0px 3px 6px rgba(0,0,0,0.2);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	padding:15px 0px 4px;
	z-index:100;
}

.header .fixed-header.transparent{
	background:rgba(255,255,255,0.1);
}

.header .header-logo{
	float:left;
}

.header .header-logo.f-none{
	float:none;
}

.header .header-logo h4{
	text-transform:uppercase;
	font-weight:bold;
	color:#212121;
	font-size:21px;
}

.header .header-logo h4 .far{
	margin-right:4px;
	font-size:19px;
	position:relative;
	top:-2px;
}

.header .header-links{
	float:right;
}

.header .header-links.f-none{
	float:none;
}

.header .header-links li{
	position:relative;
}

.header .header-links li a{
	color:#212121;
	font-size:17px;
}

.header .header-links li.shopping-cart .fa{
	margin-right:13px;
}

.header .header-links li.shopping-cart .cart-badge{
	position:absolute;
	top:-7px;
	right:2px;
	min-height:20px;
	min-width:20px;
	border-radius:100%;
	background:#212121;
	text-align:center;
	font-size:11px;
}

.header .nav-bar{
	padding:17px 0px 14px;
}

.header .nav-bar .header-logo h4{
	margin-bottom:0px;
}

/* -----------------------------------------------------
		Slider
   ----------------------------------------------------- */

#slider{
	border:0px;
	margin:0px;
}

#slider ul li .meta{
	padding:80px 0px;
}

.meta .meta-highlight{
	padding:4px 12px 5px;
	text-transform:uppercase;
	display:inline-block;
}

.meta .meta-highlight.meta-black{
	background:#222;
}

#slider li h1 {
	margin:0px 0px 20px 0px;
	font-size:36px;
	letter-spacing:1px;
	font-weight: bold;
}

#slider li h1.mg-b-6{
	margin-bottom:6px;
}

#slider li h1.mg-b-4{
	margin-bottom:4px;
}

#slider li p {
	padding: 0px 18px 11px;
	font-size: 15px;
	margin: 0;
	font-weight: 300;
	line-height:1.5em;
}

#slider .flex-direction-nav{
	display:none;
}

#slider .flex-control-nav{
	bottom:10px;
}

#slider .flex-control-nav li a{
	background:white;
}

#slider.flex-control-nav-black .flex-control-nav li a.flex-active{
	background:#222;
}

/* -----------------------------------------------------
		Banners
   ----------------------------------------------------- */

#banner-1{
	background:url('../images/banner-1.jpg');
	background-size:cover;
	position:relative;
	overflow:hidden;
	border-bottom:4px solid #212121;
}

#banner-1:after{
	content:'\f017';
	font-family:'Font Awesome 5 Free';
	position:absolute;
	right:-19px;
	top:12px;
	font-size:75px;
	line-height:0;
	z-index:0;
	text-shadow:0px 0px 12px rgba(0,0,0,0.3);
}

#banner-1 li{
	line-height:1.8em;
}

#banner-1 li span{
	font-weight:bold;
	color:#212121;
}

#banner-1 li .far{
	margin-right:6px;
}

/**************** BANNER-2 ***************/

#banner-2{
	position:relative;
	overflow:hidden;
	text-align:center;
}

#banner-2 .container-fluid{
	padding-left:20px;
	padding-right:20px;	
}

#banner-2 p{
	margin-bottom:5px;
	font-size:16px;
}

#banner-2 h2{
	color:#222;
	font-weight:bold;
	margin-bottom:5px;
}

#banner-2 .btn{
	margin-top:15px;
}

/* -----------------------------------------------------
		About Us
   ----------------------------------------------------- */

#about-us .page-heading-line + img{
	margin-top:15px;
}

#about-us img{
	display:inline-block;
}

#about-us img + p{
	margin-top:15px;
}

/* -----------------------------------------------------
		Services
   ----------------------------------------------------- */

#services.no-back{
	background:none;
}

#services .service-block{
	text-align:center;
	padding:5px;
}

#services .service-block .fa{
	font-size:30px;
	height:65px;
	width:65px;
	padding-top:14px;
	border-radius:100%;
	box-shadow:0px 0px 8px rgba(0,0,0,0.4);
	margin-bottom:15px;
}

#services .service-block .fa.border{
	font-size:25px;
	border:3px dashed white;
}

#services .service-block p{
	font-size:12px;
	margin-bottom:0px;
}

/************ COFFEE-HOMEPAGE ************/

#coffee-homepage #services	.service-block .fa{
	background:white;
}

#coffee-homepage #services	.service-block h4,
#coffee-homepage #services	.service-block p{
	color:#212121;
}

/* -----------------------------------------------------
		Menu
   ----------------------------------------------------- */

.menu .nav-tabs{
	text-align:center;
	margin-top:25px;
	border-top:2px solid #4d4d4d;
	border-bottom:2px solid #4d4d4d;
}

.menu .nav-tabs li{
	float:none;
	display:inline-block;
	margin-bottom:0px;
}

.menu .nav-tabs li a{
	color:#4d4d4d;
	border:0px;
	background:transparent;
	border-radius:0px;
}

.menu .nav-tabs li.active a{
	font-weight:bold;
	border:0px;
}

.menu .tab-content li{
	margin:20px 0px 5px;
}

.menu .owl-menu .grid{
	margin:20px 0px 5px;
}

.menu .dish-list{
	padding:5px;
}

.menu .dish-list img{
	display:inline-block;
	padding:3px;
}

.menu .dish-list-text h4{
	margin:15px 0px 5px 0px;
}

.menu .dish-list-text h4 a{
	color:#212121;
}

.menu .dish-list-text h5{
	font-size:18px;
	margin-bottom:5px;
}

.menu .dish-list-text p{
	font-size:12px;
}

.menu .dish-list-text .btn{
	text-transform:uppercase;
	font-size:13px;
}

.menu .dish-list-text .btn .fa{
	margin-left:5px;
}

.menu .owl-carousel .owl-controls{
	margin-top:20px;
}

/*************** BLACK-MENU **************/

.menu.black-menu{
	background:linear-gradient(rgba(0, 0, 0,0.85), rgba(0, 0, 0,0.85)), url('../images/black-menu-back.jpg') center center;
	background-size:cover;
}

/*************** BOX-MENU ****************/

.grey-featured-products{
	background:#f2f2f2;	
}

.menu.box-menu > .row{
	margin-left:6px;
	margin-right:6px;
}

.menu.box-menu ul li.menu-no-pad-tb{
	padding:0px 10px;
}

.menu.box-menu ul li .dish-list-link{
	color:#333;
	text-align: center;
	padding-bottom: 100%;
	height: 0px;
	width: 100%;
	position: relative;
	margin: 10px 0px 10px;
	display:block;
	border:1px solid #e6e6e6;
	background:white;
}

.menu.box-menu ul li:hover > .dish-list-link{
	box-shadow:0px 4px 12px rgba(0,0,0,0.2);
}

.menu.box-menu ul li .dish-list{
	width: 100%;
	height: 100%;
	display: table;
	position: absolute;
	padding:0px;
}

.menu.box-menu ul li .dish-list .dish-list-tbl-cell{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding:10px;
}

.menu.box-menu ul li .dish-list img{
	padding:0px;
	width:90%;
}

.menu.box-menu ul li .dish-list .dish-list-text h4{
	font-size:13px;
	margin-top:5px;
	word-wrap:break-word;
}

/************** BOX-MENU-2 ***************/

.menu.box-menu-2{
	margin-top:25px;
}

.menu.box-menu-2 > .row{
	margin-left:-10px;
	margin-right:-10px;
}

.menu.box-menu-2 .grid{
	padding:8px 1px 15px;	
}

.menu.box-menu-2 .tab-content .tab-pane{
	margin:0px -10px;
}

.menu.box-menu-2 .tab-content .tab-pane .grid{
	margin:0px;	
	padding:10px;
}

.menu.box-menu-2 .tab-content .tab-pane .owl-menu{
	margin-top:25px;
}

.menu.box-menu-2 .grid .menu-no-pad-tb{
	padding:0px 10px;
}

.menu.box-menu-2 .dish-list-link{
	color:#333;
}

.menu.box-menu-2 .dish-list{
	border:1px solid #e1e1e1;
	padding:10px 5px;	
}

.menu.box-menu-2 .dish-list:hover{
	box-shadow:0px 4px 12px rgba(0,0,0,0.2);
}

/* -----------------------------------------------------
		Testimonial
   ----------------------------------------------------- */

#owl-testimonial .item .reviewer-text,
#owl-testimonial .item .reviewer-img{
	text-align:center;
}

#owl-testimonial .item .reviewer-text blockquote{
	font-size:13px;
	border-left:0px;
	margin-bottom:10px;
	color:grey;
}

#owl-testimonial .item .reviewer-text .star-rating li{
	padding:0px;
}

#owl-testimonial .item .reviewer-text .star-rating .fa{
	font-size:13px;
}

#owl-testimonial .item .reviewer-text small{
	margin-top:15px;
	font-weight:bold;
	font-size:13px;
}

#owl-testimonial .item .reviewer-img img{
	display:inline-block;
	max-height:80px;
}

#owl-testimonial .owl-controls .owl-pagination{
	margin-top:20px;
}

#owl-testimonial .owl-pagination .owl-page span{
	background-color:#212121;
}

#owl-testimonial .item .reviewer-img.top-img img{
	margin:15px 0px;
}

/* -----------------------------------------------------
		Newsletter
   ----------------------------------------------------- */

#newsletter h3{
	color:#222;
	margin-bottom:6px;
}

#newsletter p{
	margin-bottom:20px;
}

#newsletter form .form-group{
	width:94%;
	margin:0 auto 8px;
}

#newsletter form input{
	border:0px;
	font-size:16px;
}

#newsletter form input,
#newsletter form .input-group-btn .btn{
	border-radius:0px;
}

#newsletter form .input-group-btn .btn:hover{
	background:#222;
}

/* -----------------------------------------------------
		Footer
   ----------------------------------------------------- */

#footer{
	background:#0d0d0d;
}

#footer.pd-t-b-30{
	padding:30px 0px;
}

#footer h3{
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:15px;
}

#footer h3 i{
	position:relative;
	top:-3px;
	margin-right:5px;
	font-size:22px;
}

#footer .footer-desc{
	font-size:13px;
	width:90%;
	margin:0 auto;
}

#footer .footer-contact li span{
	font-size:14px;
	margin-right:10px;
}

#footer .footer-contact li{
	font-size:13px;
	margin-bottom:5px;
}

#footer .footer-social{
	margin:25px 0px;
	padding:3px 0px;
}

#footer .footer-social.no-back{
	background:none;
}

#footer .footer-social.bordered-social.mg-t15-b0{
	margin:15px 0px 0px;
}

#footer .footer-social.bordered-social li .fab:hover{
	border-color:white;
	transform:translateY(-5px);
}

#footer .footer-social li .fab{
	height:35px;
	width:35px;
	font-size:16px;
	padding-top:8px;
	border-radius:100%;
	box-shadow:0px 0px 5px rgba(0,0,0,0.4);
	border:1px solid rgba(0,0,0,0.4);
	transition:.3s;
}

#footer .footer-social-2{
	margin:15px 0px 8px;
}

#footer .footer-social-2 li .fab{
	font-size:18px;
	margin:10px 6px 0px;
}

#footer .footer-social li .fab:hover{
	border-color:#f2f2f2;
}

#footer .copyright{
	font-size:13px;
	margin:20px 0px;
}

#footer .copyright a{
	text-transform:uppercase;
}

#footer .dashed-line{
	border-color:rgba(255,255,255,0.15);
	border-style:dashed;
}

#footer .copyright span{
	margin-right:3px;
	position:relative;
	top:-1px;
}

/* -----------------------------------------------------
		Page Cover
   ----------------------------------------------------- */

.page-cover.pd-t-b-10{
	padding:10px 0px;
}

.page-cover.pd-t-b-30{
	padding:30px 0px;
}

.page-cover h3{
	font-weight:bold;
	text-align:center;
	font-size:28px;
	margin:19px 0px 10px;
}

.page-cover h3.mg-b-0{
	margin-bottom:0px;	
}

.page-cover h3.mg-t-0{
	margin-top:0px;	
}

.page-cover .fa{
	position:relative;
	top:-8px;
	font-size:18px;
}

.cover-left-icon .fa{
	transform:rotateY(180deg);
	position:relative;
}

.page-cover .breadcrumb{
	background:none;
	text-align:center;
	padding:5px 0px 0px;
	margin-bottom:15px;
}

.page-cover .breadcrumb li{
	font-size:12px;
}

.page-cover.text-left h3,
.page-cover.text-left .breadcrumb{
	text-align:left;
}

.page-cover.text-left .breadcrumb{
	margin-bottom:10px;
}

#page-cover-back{
	background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../images/page-cover.jpg');	
	background-size:cover;
}

/* -----------------------------------------------------
		Pagination
   ----------------------------------------------------- */

.pages{
	text-align:center;
}

.pages .pagination li a{
	margin-top:14px;
}

.pages .pagination li a{
	font-size:14px;
	margin-left:1px;
	margin-right:1px;
	padding:6px 14px;
}

.pages .pagination li:first-child a,
.pages .pagination li:last-child a{
	padding:6px 16px;
}

.pages .pagination li a{
	border-radius:0px;
	background:#e6e7e8;
	color:#808285;
	border:0px;
}

.pages .pagination li:first-child a,
.pages .pagination li:last-child a{
	background:#4d4d4d;
}

.pages .pagination li:first-child:hover a,
.pages .pagination li:last-child:hover a{
	background:#404040;
}

/* -----------------------------------------------------
		Comments & Reviews
   ----------------------------------------------------- */
   
.comments-wrapper .comment-block{
	padding:10px 0px;
	border-bottom:1px solid #e6e6e6;
}

.comments-wrapper .comment-block:first-child{
	padding-top:0px;
}

.comments-wrapper .comment-block:last-child{
	border-bottom:0px;
}

.comments-wrapper .comment-block h4{
	margin-bottom:6px;
	font-size:17px;
}

.comments-wrapper .comment-block .star-rating{
	margin:0px;
	font-size:11px;
	float:right;
}

.comments-wrapper .comment-block h4,
.comments-wrapper .comment-block .star-rating{
	display:inline-block;
}

.comments-wrapper .comment-block p,
.comments-wrapper .comment-block a{
	font-size:13px;
}

.comments-wrapper .comment-block a .fa{
	margin-right:6px;
}

.comments-wrapper .reply-block{
	padding-left:25px;
}

#reviews form{
	margin-top:40px;
}

#reviews form h3{
	font-weight:bold;
	text-transform:uppercase;
	font-size:21px;
	margin-bottom:15px;
}

/* -----------------------------------------------------
		Custom Form
   ----------------------------------------------------- */

.custom-form input,
.custom-form select,
.custom-form textarea{
	border-radius:0px;
	background:#f2f2f2;
	box-shadow:none;
	border:0px;
	border-left:4px solid #212121;
}

.custom-form input:focus,
.custom-form select:focus,
.custom-form textarea:focus{
	box-shadow:none;
}

.custom-form .input-group-addon{
	border:0px;
	border-radius:0px;
	background:#f2f2f2;
}

.custom-form label{
	font-weight:normal;
	font-size:13px;
	color:#737373;
	line-height:1.5em;
}

.custom-form input[type="checkbox"]{
	margin-right:8px;
	position:relative;
	top:2px;
}

.custom-form .btn{
	padding:7px 35px;
	margin-top:10px;
}

/* -----------------------------------------------------
		Form Page Links
   ----------------------------------------------------- */
   
.form-page-links{
	margin-top:20px;
}

.form-page-links a{
	margin-top:15px;
	display:inline-block;
	font-size:13px;
}

.form-page-links p{
	margin-bottom:0px;
	font-size:13px;
}

.form-page-connect-social{
	margin-top:35px;
	border-top:1px solid #ededed;
	padding-top:30px;
}

.form-page-connect-social h4{
	color:#333;
	font-weight:bold;
	margin-bottom:20px;
	font-size:18px;
}

.form-page-connect-social li{
	float:left;
	width:50%;
	margin-bottom:17px;
}

.form-page-connect-social li .btn span{
	margin-right:10px;
}

.form-page-connect-social li .btn:hover{
	opacity:0.9;
}

.form-page-connect-social li .btn.fb{
	background:#3b5999;
}

.form-page-connect-social li .btn.gm{
	background:#dd4b39;
}

.form-page-connect-social li .btn.any{
	background:#4d4d4d;
}

.form-page-connect-social li:nth-child(1){
	padding-right:8px;
}

.form-page-connect-social li:nth-child(2){
	padding-left:8px;
}

.form-page-connect-social li:nth-child(3){
	width:100%;
}

/* -----------------------------------------------------
		Menu Pages
   ----------------------------------------------------- */

/************ MENU-GRID-PAGE *************/

.menu-grid .tab-content li{
	float:left;
	width:50%;
}

/************ MENU-LIST-PAGE *************/

.menu-list .tab-content li .dish-list{
	margin-top:25px;
}

.menu-list .dish-list img{
	float:left;
	width:100px;
	margin-right:15px;
}

.menu-list .dish-list .dish-list-text{
	text-align:left;
	overflow:hidden;
}

.menu-list .menu .dish-list .dish-list-text h4{
	margin-top:0px;
}

/*********** MENU-DETAIL-PAGE ************/

.menu-detail .menu-title{
	overflow:hidden;
	margin-bottom:15px;
}

.menu-detail .menu-title .menu-name{
	float:left;
}

.menu-detail .menu-title .menu-price{
	float:right;
	text-align:right;
}

.menu-detail .menu-title p{
	font-size:13px;
	margin-bottom:4px;
}

.menu-detail .menu-title h3{
	font-weight:bold;
	margin-top:0px;
	font-size:21px;
}

#menu-gallery li{
	border:1px solid #e6e6e6;
	padding:10px;
}

#menu-gallery li img{
	max-height: 200px;
	max-width:100%;
	display:inline-block;
}

.menu-detail .lSSlideOuter .lSPager.lSGallery li{
	opacity:0.5;
	transition:.4s;
	width:100% !important;
	float:left;
	max-width:80px;
}

.menu-detail .lSSlideOuter .lSPager.lSGallery img{
	max-height:70px;
}

.menu-detail .lSSlideOuter .lSPager.lSGallery li:hover,
.menu-detail .lSSlideOuter .lSPager.lSGallery li.active{
	border-radius:0px;
	opacity:1;
}

.menu-detail .lSPager.lSGallery{
	width:100% !important;
	text-align:center;
	margin-top:15px !important;
}

.menu-detail li .p-img{
	text-align:center;
}

.menu-info ul{
	margin:20px 0px 10px;
}

.star-rating li{
	color:#fecd2d;
	padding:0px;
}

.menu-info .btn{
	text-transform:uppercase;
	font-size:13px;
	margin-top:10px;
}

.menu-detail .nav-tabs{
	margin:45px 0px 20px;
	border-bottom-color:#212121;
	text-align:center;
}

.menu-detail .nav-tabs li{
	background:none;
	font-size:16px;
	text-transform:uppercase;
	font-weight:bold;
	border-bottom:3px solid transparent;
	float:none;
	display:inline-block;
}

.menu-detail .nav-tabs li a{
	border:0px;
	color:#212121;
}

.menu-detail .nav-tabs li a span{
	margin-right:8px;
}

.menu-detail .nav-tabs li a:hover{
	background:none;
}

.menu-detail .nav-tabs li.active a:hover,
.menu-detail .nav-tabs li.active a:focus{
	background:none;
	border:0px;
}

/* -----------------------------------------------------
		Chef Page
   ----------------------------------------------------- */

.person-block{
	margin-bottom:30px;
}

.person-img{
	border-bottom:4px solid;
	background:#f6f6f6;
	margin-bottom:10px;
	position:relative;
	overflow:hidden;
}

.person-img img{	
	display:inline-block;
}

.person-img:after{
	content:'';
	position:absolute;
	bottom:-20px;
	right:-20px;
	width:40px;
	height:40px;	
	transform:rotate(45deg);
}

.person-title h4{
	margin-bottom:0px;
	color:#1d1d1d;
}

.person-title p{
	font-size:13px;
}

/* -----------------------------------------------------
		Gallery Pages
   ----------------------------------------------------- */

#filter-buttons{
	margin-bottom:30px;
	border-top:1px solid;
	border-bottom:1px solid;
	font-size:0px;
}

#filter-buttons button{
	padding:4px 6px;
	background:none;
	margin:0px 2px;
	box-shadow:none;
	color:#404040;
	background:#f2f2f2;
	border-radius:0px;
}

#filter-buttons button.active{
	border:0px;
	font-weight:bold;
}

.two-column .gallery-product{
	padding:2px;
}

.one-column .gallery-product{
	padding:0px 15px;
	margin-bottom:18px;
}

.gallery-product:hover{
	opacity:0.85;
}

.gallery-product img{
	width:100%;
}

#gallery-section .page-heading-line{
	margin-bottom:30px;
}

/* -----------------------------------------------------
		User Pages
   ----------------------------------------------------- */

/*********** USER-PROFILE-PAGE ***********/

#user-profile-img img{
	max-height:120px;
	display:inline-block;
	margin-bottom:15px;
	box-shadow:0px 0px 10px rgba(0,0,0,0.3);
}

.user-profile-heading hr{
	border-width:4px;
	width:33px;
	margin:15px auto;
}

#user-profile-page .table-responsive{
	border:0px;
	margin-top:20px;
}

#user-profile-page table tr td{
	font-size:13px;
	border:0px;
}

#user-profile-page table tr td:first-child{
	font-weight:bold;
}

#user-profile-page table tr{
	border-bottom:1px solid #ddd;
}

#user-profile-page .edit-link a span{
	margin-right:8px;
	height:20px;
	width:20px;
	text-align:center;
	display:inline-block;
} 

/*********** EDIT-PROFILE-PAGE ***********/

#edit-user-page .innerpage-heading{
	margin-bottom:15px;
}

.form-profile-img{
	overflow:hidden;
	padding:7px 0px 15px;
}

.form-profile-img img{
	max-height:120px;
	display:inline-block;
	margin-bottom:15px;
	box-shadow:0px 0px 10px rgba(0,0,0,0.3);
}

.form-profile-img input{
	overflow:hidden;
	width:70%;
	margin:0 auto;
	border-left:0px;
}

/* -----------------------------------------------------
		Shop Pages
   ----------------------------------------------------- */
 
/************* CHECKOUT-PAGE *************/

#checkout-page .order-list{
	border:1px solid #ddd;
	padding:25px 15px;
	margin-bottom:40px;
}

#checkout-page form h4{
	margin-bottom:15px;
}

.order-list li{
	position:relative;
	padding-left:24px;
	margin-bottom:22px;
}

.order-list li::before{
	content:'\f058';
	font-family:'Font Awesome 5 Free';
	position:absolute;
	top:0;
	left:0;
	font-size:16px;
	font-weight:600;
}

.order-list li::last-child{
	margin-bottom:0px;
}

.order-list .order-item{
	overflow:hidden;
}

.order-list .order-item .order-item-info{
	float:left;
	width:70%;
	padding-right:8px;
}

.order-list .order-item .order-item-info h4{
	font-size:17px;
	margin-bottom:4px;
}

.order-list .order-item .order-item-info h4 a{
	color:#333;
}

.order-list .order-item .order-item-info p{
	margin-bottom:0px;
}

.order-list .order-item .order-item-info p:nth-of-type(1){
	font-size:12px;
	margin-bottom:8px;
	color:#a6a6a6;
}

.order-list .order-item .order-item-info p:nth-of-type(2){
	font-size:14px;
}

.order-list .order-item .order-item-info p:nth-of-type(2) span{
	font-weight:bold;
}

.order-list .order-item .order-item-img{
	width:30%;
	overflow:hidden;
	text-align:right;
}

.order-list .order-item .order-item-img img{
	max-height:90px;
	display:inline-block;
}

.order-list .order .total p{
	position:relative;
	font-size:15px;
	text-align:center;
	border-top:1px solid #d7d9da;
	border-bottom:1px solid #d7d9da;
	background:#f6f6f6;
	margin:15px 0px 0px;
	padding:4px;
	font-weight:bold;
	color:#262626;
}

.order-list .order .total p span{
	font-size:16px;
}

.order-list .cart-info{
	margin-top:28px;
}

.order-list .cart-info h4{
	padding:5px 5px 7px;
	margin:0px;
	position:relative;
	color:#1b1819;
	font-weight:bold;
	border-bottom:2px solid #1b1819;
	border-top:2px solid #1b1819;
}

.order-list .cart-info h4:before{
	content:'\f0da';
	font-family:'Font Awesome 5 Free';
	position:absolute;
	top:3px;
	left:-2px;
	font-size:50px;
	line-height:0.5;
	font-weight:bold;
}

.order-list .cart-info h4:after{
	content:'\f0d9';
	font-family:'Font Awesome 5 Free';
	position:absolute;
	top:3px;
	right:-2px;
	font-size:50px;
	line-height:0.5;
	font-weight:bold;
}

/********** ORDER-HISTORY-PAGE **********/

#order-history-page .innerpage-heading{
	margin-bottom:15px;
}

#order-history-page .form-group{
	margin-bottom:30px;
	position:relative;
}

#order-history-page .form-group select{
	border-radius:0px;
	background:#333333;
    -webkit-appearance: none;
    -moz-appearance: none;
	box-shadow:none;
	border:0px;
	padding-left:34px;
}

#order-history-page .form-group select option{
	background:white;
	color:#333;
}

#order-history-page .form-group .fa{
	position:absolute;
	pointer-events:none;
}

#order-history-page .form-group .fa-calendar-alt{
	top:9px;
	left:12px;
	font-size:16px;
}

#order-history-page .form-group .fa-angle-down{
	top:7px;
	right:12px;
	font-size:20px;
}

.order-panel{
	border-radius:0px;
	margin-bottom:15px;
}

.order-panel .panel-heading{
	background:#f2f2f2;
	border-left:4px solid;
	border-radius:0px;
	border-bottom:0px;
}

.order-panel .panel-heading .order-title{
	overflow:hidden;
}

.order-panel .panel-heading .order-name h3{
	color:#1b1819;
	margin-bottom:8px;
	font-size:15px;
}

.order-panel .panel-heading .order-name h3 span{
	font-weight:bold;
}

.order-panel .panel-heading .order-name ul{
	margin-bottom:0px;
	font-size:12px;
	color:grey;
}

.order-panel .panel-heading .order-name ul li .fa{
	margin-right:7px;
	color:grey;
}

.order-panel .panel-heading .order-title .order-status{
	font-size:16px;
	text-align:center;
	width:45px;
}

.order-panel .panel-heading .order-title .order-status .status-text{
	position:relative;
	top:-2px;
	font-size:13px;
}

.order-panel .panel-heading .order-title .order-status.success .fa,
.order-panel .panel-heading .order-title .order-status.success .status-text{
	color:green;
}

.order-panel .panel-heading .order-title .order-status.fail .fa,
.order-panel .panel-heading .order-title .order-status.fail .status-text{
	color:red;
}

.order-panel .panel-body{
	padding:25px 15px;
}

.order-panel .panel-body .order-list li{
	overflow:hidden;
}

.order-panel .panel-body .order-list li .order{
	overflow:hidden;
}

.order-panel .panel-body .order-item-info p:nth-of-type(1){
	font-size:14px;
}

.order-panel .panel-body .order-item-info p:nth-of-type(1) span{
	font-weight:bold;
}

.order-panel .panel-body .order-list{
	border-top:0px;
}

/* -----------------------------------------------------
		Extra Pages
   ----------------------------------------------------- */

/*************** ABOUT-PAGE **************/

#about-page img + p{
	margin-top:20px;
}

#about-page img{
	display:inline-block;
	max-height:300px;
}

/************* SERVICES-PAGE *************/

#services-page .service-block{
	margin-bottom:30px;
}

/*********** TESTIMONIALS-PAGE ***********/

#testimonial-page .item .reviewer-img img{
	margin-bottom:15px;
	border:4px solid;
}

#testimonial-page .item .reviewer-text .star-rating .fa{
	color:orange;
}

#testimonial-page .item .reviewer-text small{
	color:#212121;
}

/************** ERROR-PAGE **************/

#error-page h2{
	font-size:100px;
	font-weight:bold;
	position:relative;
	display:inline-block;
	padding:0px 8px;
	margin-bottom:25px;
}

#error-page h2:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:1px;
	height:69%;
}

#error-page h2:after{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:79%;
	height:1px;
}

.h2-shape:before{
	content:'';
	position:absolute;
	right:0px;
	bottom:0px;
	width:1px;
	height:69%;
}

.h2-shape:after{
	content:'';
	position:absolute;
	right:0px;
	bottom:0px;
	width:79%;
	height:1px;
}
	
#error-page h4{
	color:#1b1819;
	font-size:27px;
}

#error-page .btn{
	margin-top:15px;
	font-size:16px;
	padding:7px 24px;
}

/*********** COMING-SOON PAGE ************/

#coming-soon-page h2{
	font-size:55px;
	font-weight:900;
	line-height:.9em;
	margin-bottom:20px;
	border-top:1px solid;
	border-bottom:1px solid;
	display:inline-block;
	padding:15px 0px;
}

#coming-soon-page h2 span{
	display:block;
}

#coming-soon-page ul{
	margin-top:30px;
}

#coming-soon-page ul li{
	font-size:30px;
	font-weight:bold;	
	position:relative;
	padding:0px 10px;
}

#coming-soon-page ul li:after{
	content:':';
	position:absolute;
	top:0;
	right:-7px;
	font-weight:400;
}

#coming-soon-page ul li:last-child:after{
	display:none;	
}

#coming-soon-page ul li span{
	display:block;	
	font-weight:300;
	font-size:14px;
	margin-top:5px;
}

#coming-soon-page form{
	margin-top:30px;
}

#coming-soon-page form input{
	background:#eeeeee;
	border:0px;
}

#coming-soon-page form input,
#coming-soon-page form .input-group-btn .btn{
	height:43px;
}

/*********** BLOG-LISTING-PAGE ***********/
   
#blog-listings .content-side{
	margin-top:0px;
}

.blog-list-block{
	transition:.4s;
	margin-bottom:40px;
}

.blog-list-block:last-child{
	margin-bottom:0px;
}

.blog-list-img{
	overflow:hidden;
}

.blog-list-block .blog-list-img img{
	width:100%;
	transition:.4s;
}

.blog-list-detail ul li{
	font-size:13px;
}

.blog-list-detail ul li:first-child{
	margin-right:10px;
}

.blog-list-detail ul li .fa{
	margin-right:8px;
	font-size:14px;
}

.blog-list-detail p{
	font-size:13px;
}

.blog-list-detail a{
	text-decoration:none;
}

.blog-list-detail .list-title{
	text-transform:uppercase;
	font-weight:bold;
	font-size:28px;
	margin-top:18px;
	margin-bottom:7px;
}

.blog-list-detail .btn{
	font-size:12px;
	padding:6px 18px;
	margin-top:15px;
	text-transform:uppercase;
}

.blog-list-detail{
	padding:25px;
	background:#f6f6f6;
}

.blog-list-detail .list-title{
	font-size:20px;
}

.blog-sidebar .side-bar-heading{
	color:#444546;
}

.blog-list-block:hover:hover{
	box-shadow:0px 0px 12px rgba(0,0,0,0.2);
}

.blog-list-block:hover img{
	transform:scale(1.1);
}

.blog-list-detail ul li{
	color:#a7a9ac;
}

.blog-list-detail .list-title{
	color:#444649;
}

/*********** BLOG-DETAILS-PAGE ***********/

#blog-details-page .blog-list-block:hover{
	box-shadow:none;
}

#blog-details-page .blog-list-block:hover img{
	transform:none;
}

#blog-details-page #reviews{
	margin-top:60px;
}

/**************** FAQ PAGE ***************/

.faq-block{
	margin-bottom:40px;
}

.faq-block:last-child{
	margin-bottom:0px;
}

.faq-heading{
	position:relative;
	margin-bottom:25px;
	font-size:21px;
	font-weight:bold;
}

.faq-heading::after{
	content:'';
	position:relative;
	bottom:0;
	left:0;
	width:20px;
	height:2px;
	display:block;
	margin:10px 0px 0px;
}

.faq-block .panel{
	box-shadow:none;
	margin-bottom:15px;
}

.faq-block .panel:last-child{
	margin-bottom:0px;
}

.faq-block .panel-default .panel-heading{
	border-bottom:0px;
	padding:0px;
	position:relative;
	overflow:hidden;
}

.faq-block .panel-default .panel-heading h4{
	line-height:1.4em;
}

.faq-block .panel-default .panel-heading a{
	padding:10px 15px;
	display:block;
	text-decoration:none;
}

.faq-block .panel-default .panel-title{
	padding-right:33px;
	font-size:14px;
	color:#4d4d4d;
}

.faq-block .panel-default .panel-title::before{
	color:white;
	content:'\f107';
	font-family:'Font Awesome 5 Free';
	font-size:23px;
	position:absolute;
	top:50%;
	line-height:0px;
	right:0;
	width:40px;
	display:block;
	text-align:center;
	z-index:1;
	font-weight:bold;
}

.faq-block .panel-default .panel-title::after{
	content:'';
	position:absolute;
	top:0;
	right:-12px;
	width:55px;
	height:100%;
	display:block;
	transform:skewX(-25deg);
}

.faq-block .panel-default .panel-body p{
	font-size:13px;
}

/************** PRICING PAGE **************/

.p-table-block{
	border:1px solid;	
	padding:60px 20px 30px;
	position:relative;
	margin-top:50px;
}

.p-table-block.mg-top-80{
	margin-top:80px;	
}

.p-table-block:hover{
	box-shadow:0px 0px 15px rgba(0,0,0,0.2);	
}

.p-table-block .p-table-price{
	position:absolute;
	top:-45px;
	left:0;
	text-align:center;
	width:100%;
}

.p-table-block .p-table-price h2{	
	border-radius:100%;
	min-height:90px;
	min-width:90px;
	display:inline-block;
	padding-top:28px;
	color:white;
	transition:.4s;
}

.p-table-block:hover .p-table-price h2{
	transform:rotate(360deg);	
}

.p-table-block .p-table-title{
	font-size:20px;
}

.p-table-block ul{
	margin:20px 0px;
}

.p-table-block ul li{
	color:grey;
	font-size:13px;
}






























