<template>
  <div>
    <ul class="nav nav-tabs">
      <li :class="{'active': activeIndex == index }" v-for="(tabItem,index) in tabsName" :key="index" >
        <a v-bind:href="tabItem | slugTab" data-toggle="tab" v-on:click="selectTab(tabItem,index)">{{tabItem}}</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="breakfast-dishes" class="tab-pane fade in active">
        <div class="owl-carousel owl-theme owl-menu">
          <div>
            <div class="grid">
              <div class="dish-list">
                <a href="menu-detail.html">
                  <img
                    src="/themes/mobile/orange-restaurant/images/dish-breakfast-1.png"
                    class="img-responsive"
                    alt="dish-menu"
                  >
                </a>
                <div class="dish-list-text">
                  <h4>
                    <a href="menu-detail.html">Breakfast-1</a>
                  </h4>
                  <h5>$45</h5>
                  <p>Lorem ipsum, Dolor</p>
                  <button class="btn">
                    Add to cart
                    <span>
                      <i class="fa fa-shopping-cart"></i>
                    </span>
                  </button>
                </div>
                <!-- end dish-list-text -->
              </div>
              <!-- end dish-list -->
            </div>
            <!-- end grid -->
            <div class="grid">
              <div class="dish-list">
                <a href="menu-detail.html">
                  <img
                    src="/themes/mobile/orange-restaurant/images/dish-breakfast-2.png"
                    class="img-responsive"
                    alt="dish-menu"
                  >
                </a>
                <div class="dish-list-text">
                  <h4>
                    <a href="menu-detail.html">Breakfast-2</a>
                  </h4>
                  <h5>$45</h5>
                  <p>Lorem ipsum, Dolor</p>
                  <button class="btn">
                    Add to cart
                    <span>
                      <i class="fa fa-shopping-cart"></i>
                    </span>
                  </button>
                </div>
                <!-- end dish-list-text -->
              </div>
              <!-- end dish-list -->
            </div>
            <!-- end grid -->
          </div>

          <div>
            <div class="grid">
              <div class="dish-list">
                <a href="menu-detail.html">
                  <img
                    src="/themes/mobile/orange-restaurant/images/dish-breakfast-3.png"
                    class="img-responsive"
                    alt="dish-menu"
                  >
                </a>
                <div class="dish-list-text">
                  <h4>
                    <a href="menu-detail.html">Breakfast-3</a>
                  </h4>
                  <h5>$45</h5>
                  <p>Lorem ipsum, Dolor</p>
                  <button class="btn">
                    Add to cart
                    <span>
                      <i class="fa fa-shopping-cart"></i>
                    </span>
                  </button>
                </div>
                <!-- end dish-list-text -->
              </div>
              <!-- end dish-list -->
            </div>
            <!-- end grid -->
            <div class="grid">
              <div class="dish-list">
                <a href="menu-detail.html">
                  <img
                    src="/themes/mobile/orange-restaurant/images/dish-breakfast-4.png"
                    class="img-responsive"
                    alt="dish-menu"
                  >
                </a>
                <div class="dish-list-text">
                  <h4>
                    <a href="menu-detail.html">Breakfast-4</a>
                  </h4>
                  <h5>$45</h5>
                  <p>Lorem ipsum, Dolor</p>
                  <button class="btn">
                    Add to cart
                    <span>
                      <i class="fa fa-shopping-cart"></i>
                    </span>
                  </button>
                </div>
                <!-- end dish-list-text -->
              </div>
              <!-- end dish-list -->
            </div>
            <!-- end grid -->
          </div>

          <div>
            <div class="grid">
              <div class="dish-list">
                <a href="menu-detail.html">
                  <img
                    src="/themes/mobile/orange-restaurant/images/dish-breakfast-5.png"
                    class="img-responsive"
                    alt="dish-menu"
                  >
                </a>
                <div class="dish-list-text">
                  <h4>
                    <a href="menu-detail.html">Breakfast-5</a>
                  </h4>
                  <h5>$45</h5>
                  <p>Lorem ipsum, Dolor</p>
                  <button class="btn">
                    Add to cart
                    <span>
                      <i class="fa fa-shopping-cart"></i>
                    </span>
                  </button>
                </div>
                <!-- end dish-list-text -->
              </div>
              <!-- end dish-list -->
            </div>
            <!-- end grid -->
            <div class="grid">
              <div class="dish-list">
                <a href="menu-detail.html">
                  <img
                    src="/themes/mobile/orange-restaurant/images/dish-breakfast-6.png"
                    class="img-responsive"
                    alt="dish-menu"
                  >
                </a>
                <div class="dish-list-text">
                  <h4>
                    <a href="menu-detail.html">Breakfast-6</a>
                  </h4>
                  <h5>$45</h5>
                  <p>Lorem ipsum, Dolor</p>
                  <button class="btn">
                    Add to cart
                    <span>
                      <i class="fa fa-shopping-cart"></i>
                    </span>
                  </button>
                </div>
                <!-- end dish-list-text -->
              </div>
              <!-- end dish-list -->
            </div>
            <!-- end grid -->
          </div>
        </div>
        <!-- end owl-menu -->
      </div>
      <!-- end breakfast-dishes -->
      <div id="lunch-dishes" class="tab-pane fade">
        <div class="owl-carousel owl-theme owl-menu">
          <div>
            <div class="grid">
              <div class="dish-list">
                <a href="menu-detail.html">
                  <img
                    src="/themes/mobile/orange-restaurant/images/dish-lunch-1.png"
                    class="img-responsive"
                    alt="dish-menu"
                  >
                </a>
                <div class="dish-list-text">
                  <h4>
                    <a href="menu-detail.html">Lunch-1</a>
                  </h4>
                  <h5>$45</h5>
                  <p>Lorem ipsum, Dolor</p>
                  <button class="btn">
                    Add to cart
                    <span>
                      <i class="fa fa-shopping-cart"></i>
                    </span>
                  </button>
                </div>
                <!-- end dish-list-text -->
              </div>
              <!-- end dish-list -->
            </div>
            <!-- end grid -->
            <div class="grid">
              <div class="dish-list">
                <a href="menu-detail.html">
                  <img
                    src="/themes/mobile/orange-restaurant/images/dish-lunch-2.png"
                    class="img-responsive"
                    alt="dish-menu"
                  >
                </a>
                <div class="dish-list-text">
                  <h4>
                    <a href="menu-detail.html">Lunch-2</a>
                  </h4>
                  <h5>$45</h5>
                  <p>Lorem ipsum, Dolor</p>
                  <button class="btn">
                    Add to cart
                    <span>
                      <i class="fa fa-shopping-cart"></i>
                    </span>
                  </button>
                </div>
                <!-- end dish-list-text -->
              </div>
              <!-- end dish-list -->
            </div>
            <!-- end grid -->
          </div>

          <div>
            <div class="grid">
              <div class="dish-list">
                <a href="menu-detail.html">
                  <img
                    src="/themes/mobile/orange-restaurant/images/dish-lunch-3.png"
                    class="img-responsive"
                    alt="dish-menu"
                  >
                </a>
                <div class="dish-list-text">
                  <h4>
                    <a href="menu-detail.html">Lunch-3</a>
                  </h4>
                  <h5>$45</h5>
                  <p>Lorem ipsum, Dolor</p>
                  <button class="btn">
                    Add to cart
                    <span>
                      <i class="fa fa-shopping-cart"></i>
                    </span>
                  </button>
                </div>
                <!-- end dish-list-text -->
              </div>
              <!-- end dish-list -->
            </div>
            <!-- end grid -->
            <div class="grid">
              <div class="dish-list">
                <a href="menu-detail.html">
                  <img
                    src="/themes/mobile/orange-restaurant/images/dish-lunch-4.png"
                    class="img-responsive"
                    alt="dish-menu"
                  >
                </a>
                <div class="dish-list-text">
                  <h4>
                    <a href="menu-detail.html">Lunch-4</a>
                  </h4>
                  <h5>$45</h5>
                  <p>Lorem ipsum, Dolor</p>
                  <button class="btn">
                    Add to cart
                    <span>
                      <i class="fa fa-shopping-cart"></i>
                    </span>
                  </button>
                </div>
                <!-- end dish-list-text -->
              </div>
              <!-- end dish-list -->
            </div>
            <!-- end grid -->
          </div>

          <div>
            <div class="grid">
              <div class="dish-list">
                <a href="menu-detail.html">
                  <img
                    src="/themes/mobile/orange-restaurant/images/dish-lunch-5.png"
                    class="img-responsive"
                    alt="dish-menu"
                  >
                </a>
                <div class="dish-list-text">
                  <h4>
                    <a href="menu-detail.html">Lunch-5</a>
                  </h4>
                  <h5>$45</h5>
                  <p>Lorem ipsum, Dolor</p>
                  <button class="btn">
                    Add to cart
                    <span>
                      <i class="fa fa-shopping-cart"></i>
                    </span>
                  </button>
                </div>
                <!-- end dish-list-text -->
              </div>
              <!-- end dish-list -->
            </div>
            <!-- end grid -->
            <div class="grid">
              <div class="dish-list">
                <a href="menu-detail.html">
                  <img
                    src="/themes/mobile/orange-restaurant/images/dish-lunch-6.png"
                    class="img-responsive"
                    alt="dish-menu"
                  >
                </a>
                <div class="dish-list-text">
                  <h4>
                    <a href="menu-detail.html">Lunch-6</a>
                  </h4>
                  <h5>$45</h5>
                  <p>Lorem ipsum, Dolor</p>
                  <button class="btn">
                    Add to cart
                    <span>
                      <i class="fa fa-shopping-cart"></i>
                    </span>
                  </button>
                </div>
                <!-- end dish-list-text -->
              </div>
              <!-- end dish-list -->
            </div>
            <!-- end grid -->
          </div>
        </div>
        <!-- end owl-menu -->
      </div>
      <!-- end lunch-dishes -->
      <div id="dinner-dishes" class="tab-pane fade">
        <div class="owl-carousel owl-theme owl-menu">
          <div>
            <div class="grid">
              <div class="dish-list">
                <a href="menu-detail.html">
                  <img
                    src="/themes/mobile/orange-restaurant/images/dish-breakfast-1.png"
                    class="img-responsive"
                    alt="dish-menu"
                  >
                </a>
                <div class="dish-list-text">
                  <h4>
                    <a href="menu-detail.html">Dinner-1</a>
                  </h4>
                  <h5>$45</h5>
                  <p>Lorem ipsum, Dolor</p>
                  <button class="btn">
                    Add to cart
                    <span>
                      <i class="fa fa-shopping-cart"></i>
                    </span>
                  </button>
                </div>
                <!-- end dish-list-text -->
              </div>
              <!-- end dish-list -->
            </div>
            <!-- end grid -->
            <div class="grid">
              <div class="dish-list">
                <a href="menu-detail.html">
                  <img
                    src="/themes/mobile/orange-restaurant/images/dish-breakfast-2.png"
                    class="img-responsive"
                    alt="dish-menu"
                  >
                </a>
                <div class="dish-list-text">
                  <h4>
                    <a href="menu-detail.html">Dinner-2</a>
                  </h4>
                  <h5>$45</h5>
                  <p>Lorem ipsum, Dolor</p>
                  <button class="btn">
                    Add to cart
                    <span>
                      <i class="fa fa-shopping-cart"></i>
                    </span>
                  </button>
                </div>
                <!-- end dish-list-text -->
              </div>
              <!-- end dish-list -->
            </div>
            <!-- end grid -->
          </div>

          <div>
            <div class="grid">
              <div class="dish-list">
                <a href="menu-detail.html">
                  <img
                    src="/themes/mobile/orange-restaurant/images/dish-breakfast-3.png"
                    class="img-responsive"
                    alt="dish-menu"
                  >
                </a>
                <div class="dish-list-text">
                  <h4>
                    <a href="menu-detail.html">Dinner-3</a>
                  </h4>
                  <h5>$45</h5>
                  <p>Lorem ipsum, Dolor</p>
                  <button class="btn">
                    Add to cart
                    <span>
                      <i class="fa fa-shopping-cart"></i>
                    </span>
                  </button>
                </div>
                <!-- end dish-list-text -->
              </div>
              <!-- end dish-list -->
            </div>
            <!-- end grid -->
            <div class="grid">
              <div class="dish-list">
                <a href="menu-detail.html">
                  <img
                    src="/themes/mobile/orange-restaurant/images/dish-breakfast-4.png"
                    class="img-responsive"
                    alt="dish-menu"
                  >
                </a>
                <div class="dish-list-text">
                  <h4>
                    <a href="menu-detail.html">Dinner-4</a>
                  </h4>
                  <h5>$45</h5>
                  <p>Lorem ipsum, Dolor</p>
                  <button class="btn">
                    Add to cart
                    <span>
                      <i class="fa fa-shopping-cart"></i>
                    </span>
                  </button>
                </div>
                <!-- end dish-list-text -->
              </div>
              <!-- end dish-list -->
            </div>
            <!-- end grid -->
          </div>

          <div>
            <div class="grid">
              <div class="dish-list">
                <a href="menu-detail.html">
                  <img
                    src="/themes/mobile/orange-restaurant/images/dish-breakfast-5.png"
                    class="img-responsive"
                    alt="dish-menu"
                  >
                </a>
                <div class="dish-list-text">
                  <h4>
                    <a href="menu-detail.html">Dinner-5</a>
                  </h4>
                  <h5>$45</h5>
                  <p>Lorem ipsum, Dolor</p>
                  <button class="btn">
                    Add to cart
                    <span>
                      <i class="fa fa-shopping-cart"></i>
                    </span>
                  </button>
                </div>
                <!-- end dish-list-text -->
              </div>
              <!-- end dish-list -->
            </div>
            <!-- end grid -->
            <div class="grid">
              <div class="dish-list">
                <a href="menu-detail.html">
                  <img
                    src="/themes/mobile/orange-restaurant/images/dish-breakfast-6.png"
                    class="img-responsive"
                    alt="dish-menu"
                  >
                </a>
                <div class="dish-list-text">
                  <h4>
                    <a href="menu-detail.html">Dinner-6</a>
                  </h4>
                  <h5>$45</h5>
                  <p>Lorem ipsum, Dolor</p>
                  <button class="btn">
                    Add to cart
                    <span>
                      <i class="fa fa-shopping-cart"></i>
                    </span>
                  </button>
                </div>
                <!-- end dish-list-text -->
              </div>
              <!-- end dish-list -->
            </div>
            <!-- end grid -->
          </div>
        </div>
        <!-- end owl-menu -->
      </div>
      <!-- end dinner-dishes -->
    </div>
  </div>
</template>

<script>
import axios from "axios";

import store from '../store';
import business from '../utils/business';

export default {
  name: 'delicious-menu',
  mixins: [business],
  data: function() {
    return {
      initData: {},
      tabsName: store.tabsName,
      activeIndex: 1,
    };
  },
  mounted() {
    window.Echo.channel("test").listen(".testResults", e => {
      console.log('@Event::Listening from ' + e.datas['name']);
    });
  },
  created: function() {
    console.log('@created::delicious-menu');
  },
  computed: {
    
  },
  methods: {
    selectTab(n,v) {
      this.activeIndex = v;
      axios.get("/init-data").then(response => {
        
      });
    },
  }
};
</script>