<template>
  <div class="container">
    <div class="row" v-for="(products,index) in groupedProducts" :key="index">
      <div class="col-md-3 col-sm-6" v-for="(product,k) in products" :key="k">
        <product class="animated fadeIn" :product="product"></product>
      </div>
      <div class="col w-100"></div>
    </div>
  </div>
</template>

    <script>
import { mapGetters } from "vuex";
import product from "./Product";

export default {
  name: "Products",
  components: {
    product
  },
  mounted() {
    console.log("@mounted: dispatch");
    this.$store.dispatch("GET_PRODUCTS");
    window.Echo.channel("search").listen(".searchResults", e => {
      this.$store.commit("SET_PRODUCTS", e.products);
    });
  },
  computed: {
    groupedProducts() {
      var res =  _.chunk(this.products, 4);
      return res;
    },
    ...mapGetters(["products"])
  }
};
</script>