<template>
        <li class="shopping-cart">
                <a href="javascript:void(0)" id="shc-side-open">
                        <span><i class="fa fa-shopping-cart"></i></span>
                        <span class="cart-badge">{{$store.state.c_number}}</span>
                </a>
        </li>
</template>