<template>
<div id="shopping-cart-sidebar" class="shc-sidebar">
        <button v-on:click="add2()">You clicked me times.</button>
        <form name="frmCart" method="POST" action="">
        <ul class="list-unstyled cart-list">
                <li v-for="item in Products" v-bind:key="item.p_id">
                        <input type="hidden" name="pid" v-model="item.p_id"/>
                        <input type="hidden" name="pprice" v-model="item.p_price">
                        <div class="cart-item">
                                <div class="item-text dish-list-text">
                                        <h4><a href="#">Breakfast-3</a></h4>
                                        <p>{{item.p_name}}</p>
                                        <h5>Qty: <input type="number" @change="addToCart(item.p_id)" name="qty[]" class="form-control" min="1" value="1"> x $45</h5>
                                </div>

                                <div class="item-img">
                                        <a href="#"><img src="/themes/mobile/orange-restaurant/images/dish-breakfast-3.png" class="img-responsive" alt="cart-item-img" /></a>
                                </div>

                                <h4 class="total">Total: <span>$45</span></h4>

                                <div class="item-close">
                                        <button class="btn"><span><i class="fa fa-times-circle"></i></span></button>
                                </div>
                        </div>
                </li>
        </ul>
        </form>
        <div class="cart-info text-right">
                <h4>Item(s) : <span>{{$store.state.c_number}}</span></h4>
                <h4>Total Price: <span>$90.00</span></h4>
                <a href="shopping-cart.html" class="btn btn-black">View Cart</a>
                <a href="checkout.html" class="btn btn-orange">Checkout</a>
        </div>
</div>
</template>

<script>
export default {
  mounted() {
    
  },
  data: function() {
    return {
      'Products': this.$store.state.c_data_products
    };
  },
  methods: {
    add2() {
      return this.$store.state.c_number++;
    },
    addToCart(pid){
        console.log('Add To Cart ' + pid);
    }
  }
};
</script>
